@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#navbar {
  background-color: cadetblue;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 8px 16px;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.upcoming-card-container {
  display: flex;
  flex-direction: row;          /* Aligne horizontalement */
  overflow-x: auto;             /* Active le scroll horizontal */
  scroll-behavior: smooth;      /* Scroll fluide */
  gap: 16px;
  padding: 10px;
  width: 100%;

}

.upcoming-card {
  flex: 0 0 280px;              /* Largeur fixe + pas de rétrécissement */
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.all-event-card {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  margin: 10px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.all-event-card-heart {
margin-right: 8px;
}


.container-form {
  border-color: brown;
}