@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

#navbar {
  background-color: #00c4a6;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 8px 16px;
  display: flex;
  flex-direction: center;
  align-items: center;
  color: white;
}

.all-event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


.all-event-card {
  
  padding: 10px;
  border-radius: 5px;
  max-width: 700px;
  margin: 10px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  
}

.all-event-card-heart {
margin-right: 8px;
}
.all-event-page input {
width: 100%;
  background-color: #f5f5f5;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  border-style: none;
 margin: 24px 0;

}


.all-event-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.prueba {
  width: 80%;
  max-width: 700px;
}


.homepage-main h2{
  margin-top: 0;
  font-family: "DM Serif Display", serif;
  margin-bottom: 0;
  font-weight: 600;
}

.title-homepage{
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  margin: 16px;
}

.title-homepage h6 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Jakarta Sans", sans-serif;
  color: #00c4a6;
  text-decoration: none;
}

.favorite-link {
   text-decoration: underline; 
  text-decoration-color: #00c4a6;
}

.favorite-link:hover {
  text-decoration: underline; 
  text-decoration-color: #00c4a6;
}



.favorite-card-container {
 display: flex;
flex-direction: column;
align-items: center;
}


.favorite-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  margin: 10px 30px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  font-family:"Jakarta Sans", sans-serif;
  width: 80%;
  background-color: #f0f0f0;
  max-width: 700px;

}

.favorite-card:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.all-event-card img,
.favorite-card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 16px;
}

.all-event-card-data-img{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}




.favorite-card-data {
  color: #444; 
}

.all-event-card-data h4,
.upcoming-card h4,
.favorite-card-data h4 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}

.all-event-card p,
.upcoming-card p,
.favorite-card-data p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}

.favorite-card-data i {
  margin-right: 6px;
  color: #777777;
}

/***********UPCOMING CARD************/

.upcoming-card {
  display: flex;
  flex-direction: column;  
  border-radius: 10px;
  padding: 12px;
  margin:10px 10px;
  max-width: 280px;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: left;
  flex: 0 0 280px;              /* Largeur fixe + pas de rétrécissement */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-family:"Jakarta Sans", sans-serif;
}

.upcoming-card-container {
  display: flex;
  overflow-x: auto;             /* Active le scroll horizontal */
  scroll-behavior: smooth;      /* Scroll fluide */
  gap: 16px;
  padding: 10px;
  width: 100%;
}


.upcoming-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/***********EVENT PAGE DETAILS************/

.event-details-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.event-card {
  
  overflow: hidden;
  text-align: center;
}

.event-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.event-info {
  padding: 20px 20px 0 0;
  text-align: left;
}

.event-info h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}

.event-info p {
  font-family:"Jakarta Sans", sans-serif;
  padding-left: 8px;
  margin-bottom: 12px;
}

.event-info i {
  color: #00c4a6;
  
}

.div-button,
.admin-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-form button,
.admin-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  min-width: 120px;
  cursor: pointer;
  margin: 10px 0;
  gap: 10px;
  border: none;
}

#edit-button {
  background-color: #fbcd91;
}

#delete-button {
 background-color: #ff6b6b;
}

.edit-form button:hover,
#edit-button:hover,
#delete-button:hover {
  filter: brightness(90%);
}


.event-details-page h3 {
 font-family: "DM Serif Display", serif; 
 color: #555555;
 font-size: 24px ;
}




/***********COMMENT CARD************/


.comment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-family: "Jakarta Sans", sans-serif;
}



.comment-content p {
  margin: 4px 0 0;
  color: #333;
  font-size: 14px;
  margin-bottom: 0;
}


.comment-content h6 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.comment-content p {
  margin: 4px 0 0;
  color: #333;
  font-size: 14px;
}

.comment-actions:hover {
  color: #ff6b6b;
}

/***********ADD COMMENT************/

 .add-comment-section {
  background-color: #f0f0f0;
  
}

.add-comment-section input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  
  
  
}

.add-comment-section form {
 display: flex;
justify-content: space-between ;
  flex-direction: row;
  align-items: center;
  margin: 16px 12px;
  padding: 16px 0;
}

.add-comment-section button {
border: none;
padding: 12px;
background-color: #00c4a6;
color: white;
border-radius: 6px;
margin-left: 12px;
height: 100%;
}

/***********ADD FROM PAGE ************/



.add-form-page {
display: flex;
flex-direction: column;
align-items: center;
}

.edit-form {
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 12px;
  margin: 10px 30px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  font-family:"Jakarta Sans", sans-serif;
  max-width: 700px;
  margin-top: 40px;
}

.edit-form h3 {
  text-align: center;
  font-family: "DM Serif Display", serif; 
  margin: 15px 0 60px 0;
  color: black;
}

.edit-form label {
  margin-bottom: 4px; 
  font-size: 14px;
}

.edit-form button {
background-color: #00c4a6;
color: white;
}

















